@import url(keyframes.less);

.posts-expand {
	.post-title {
		font-size: 26px;
		text-align: center;
		word-break: break-word;
		font-weight: 400;
	}
	.post {
		text-align: left;
	}
	.post-meta {
		margin: 3px 0 60px 0;
		color: #999;
		font-family: 'Neucha', "PingFang SC", "Microsoft YaHei", sans-serif;
		font-size: 12px;
		text-align: center;

		a {
			border-bottom-color: #ccc;
			color: #555;
			font-size: 12px;
			text-decoration: none;
			border-bottom: 1px solid #999;
			word-wrap: break-word;
		}
	}
}
.page-post-detail .post-title, .page-post-detail .post-meta {
	text-align: center;
}
.post-body img {
	max-width: 100%;
}
@media (max-width:767px) {
	.container {
		.main-inner {
			width: auto;
			margin-top: 0px;

			.posts-expand {
				margin: 0 20px;

				.post-header {
					text-align: center;
				}
				.post-title {
					font-size: 20px;
					text-align: center;
				}
				.post-meta {
					text-align: center;
				}
			}
		}
		.article_next_prev {
			margin: 0 20px;
		}
	}
}
@media (min-width:1600px) {
	.posts-expand .post-title {
		font-size: 26px;
	}
}
.post_animate {
	opacity: 0;
	animation: kf-menu 1s;
	-moz-animation: kf-menu 1s; /* Firefox */
	-webkit-animation: kf-menu 1s;  /* Safari 和 Chrome */
	-o-animation: kf-menu 1s;
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards; /* Firefox */
	-webkit-animation-fill-mode: forwards;  /* Safari 和 Chrome */
	-o-animation-fill-mode: forwards;
	animation-delay: 1s;
	-moz-animation-delay: 1s; /* Firefox */
	-webkit-animation-delay: 1s;  /* Safari 和 Chrome */
	-o-animation-delay: 1s;
}
.article_next_prev {
	display: block;
	color: #666;
	clear: both;
	float: left;
	margin-top: 15px;
	padding: 0;
	padding-top: 10px;

	li {
		list-style-type: none;
		clear: both;
		padding: 0 0 3px;
		overflow: hidden;		

		span {
			display: block;
			float: left;
			width: 72px;
			height: 26px;
			background-color: #999999;
			color: #fff;
			font-size: 14px;
			margin-right: 7px;
		}
		a {
			display: block;
			float: left;
			font-size: 14px;
			color: #333333;
			cursor: pointer;
		}
		&:hover {
			span {
				background-color: #c00;
			}
			a {
				color: #c00;
			}
		}
	}
}