.header {
	background: #ececec;
	:global {
		.ant-menu {
			width: 1200px;
			margin: 0 auto;
			line-height: 50px;
			border-bottom: none;
			background: #ececec;

			.ant-menu-item {
				float: right;

				a:hover {
					color: #ff7300;
				}
			}
			.header-logo {
				float: left;
				background: url(../../assets/header-logo.png) no-repeat;
				display: block;
				background-size: cover;
				width: 52px;
				height: 40px;
				margin-top: 5px;
				border: none !important;
				color: inherit;				
			}
			.ant-menu-item-selected, .ant-menu-item-active {
				color: #ff7300;
				border-color: #ff7300;
			}
		}
	}
}